<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: gilroy;
        }

        body {
            width: 100%;
            height: 100%;
        }

        #main {
            width: 100%;
            height: 100vh;
            position: relative;
            /* background-image: url(https://images.unsplash.com/photo-1690563762833-21cd96b9e5f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2062&q=80); */
            background-position: center;
            background-size: cover;
            background-color: #1ED760;


        }

        .card1 {
            width: 41vw;
            height: 64.5vh;
            border-radius: 6px;
            /* box-shadow: 0 0 7px 2px white; */
            position: relative;
            background-color: #FFFFFF;
            /* box-shadow: 0px 0px 13px 2px rgb(56, 54, 54); */
            top: 50%;
            z-index: 99999999999999;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .card1 h1 {
            color: #272C30;
            /* text-align: center; */
            /* padding-top: 10px; */

        }

        .card1 input {
            width: 340px;
            border: 1px solid lightgray;
            height: 50px;
            padding: 0 20px;
            border-radius: 50px;
            margin-top: 20px;
            background-color: white;
            /* margin-bottom: 10px; */
            margin-left: 8vw;
            outline-color: #1ED760;
        }



        #submit {
            color: white;
            background-color: #1ED760;
            font-size: 20px;
            cursor: pointer;
            font-weight: 600;
        }



        .card1 a {
            position: absolute;
            bottom: 24px;
            width: 340px;
            height: 46px;
            /* background-color:#272C30; */
            border: 1px solid lightgray;
            left: 120px;
            border-radius: 50px;
            padding: 10px 100px;
            background-color: white;
            color: #272C30;
            font-weight: 500;
            text-decoration: none;
            font-size: 18px;
        }

        .card1 a:hover {
            background-color: white;
            color: #272C30;
            transition: all ease-in 0.3s;
        }

        .con1 a {
            /* position: absolute; */
            bottom: 40px;
            width: 340px;
            height: 46px;
            /* background-color:#272C30; */
            border: 1px solid black;
            left: 126px;
            border-radius: 50px;
            padding: 10px 80px;
            color: #272C30;
            font-weight: 600;
            text-decoration: none;
            font-size: 19px;
            background-color: transparent;
        }



        .card1 img {
            height: 120px;
            object-fit: cover;
        }

        #nav-bar {
            width: 41.5vw;
            height: 65.6vh;
            /* background-color: lightgray; */
            padding: 14px 40px;
            position: absolute;
            left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

            overflow: hidden;
            /* z-index: 8888; */

        }

        

        #nav-bar h2 {
            color: white;
            text-decoration-line: none;
            font-size: 16px;
        }

        #nav-bar a {
            text-decoration: none;
            word-spacing: 2px;
            overflow: hidden;
            position: absolute;

        }

        #nav-bar span:nth-child(1) {
            position: absolute;
            width: 100%;
            height: 3px;
            top: 0;
            left: 0;
            background: linear-gradient(to right, black, black);
            transition: all ease 0.3s;

            animation-name: anime1;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }


        @keyframes anime1 {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100%);
            }

        }

        #nav-bar span:nth-child(2) {
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            right: 0;
            /* background: linear-gradient(to bottom, gray, white); */
            background: linear-gradient(to right, black, black);

            transition: all ease 0.3s;

            animation-name: anime2;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-delay: 1s;
        }


        @keyframes anime2 {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(100%);
            }

        }

        #nav-bar span:nth-child(3) {
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            /* background: linear-gradient(to right, gray, white); */
            background: linear-gradient(to right, black, black);

            transition: all ease 0.3s;

            animation-name: anime3;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }


        @keyframes anime3 {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }

        }

        #nav-bar span:nth-child(4) {
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 0;
            /* background: linear-gradient(to right, gray, white); */
            background: linear-gradient(to right, black, black);

            transition: all ease 0.3s;

            animation-name: anime4;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-delay: 1s;
        }


        @keyframes anime4 {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(-100%);
            }

        }
    </style>
</head>

<body>

    <div id="main">
        <div id="nav-bar">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#">

                

            </a>
        </div>

        <div class="card1">

            <img src="https://i.pinimg.com/736x/31/f6/d3/31f6d3fddbc3b87a6ffc705e556562f4.jpg" alt="">

            <h1>Spotify Music for Everyone.</h1>
            <form action="/login" method="post">

                <input id="username" type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" id="submit">


                <!-- <div class="con1">

                    <a id="forgot" href="/forgot">Forgot Password?</a>
                </div> -->
                <div class="con1">

                    <a href="/auth">Create Account</a>
                </div>
            </form>
        </div>


    </div>

</body>

</html>