<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: gilroy;

		}
		html, body{
			width: 100%;
			height: 100%;
			/* background-color: white; */
			background-color: black;

		}
		body{
			display: flex;
		}

		.left{
			width: 50%;
			height: 100%;
			/* background-color: red; */

		}

		.right{
			width: 50%;
			height: 100%;
			/* background-color: rgb(255, 242, 0); */

		}
		.card{
			position: absolute;
			top: 47%;
			left: 70%;
			transform: translate(-50%, -50%);

			box-shadow: 18px 18px 0px 0px #1ED760;
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 28vw;
			border-radius: 9px;
			height: 70vh;
			/* background-color:#222224; */
			/* background-color: rgb(67, 64, 64); */
			border: 1px solid lightgray;
			
		}

		.card input{
			margin-left: 3vw;
			border: none;
			margin-top: 1vw;
			outline-color:#1ED760;
			padding-left:18px;
			border-radius: 50px;
			width: 20vw;
			height: 6.5vh;
		}

		.card a{
			border: none;
			outline-color:#1ED760;
			padding-left:8.6vw;
			padding-top: 12px;
			position: absolute;
			left:3vw;
			text-decoration: none;
			font-size: 19px;
			bottom: 1.3vw;
			background-color: white;
			border-radius: 50px;
			width: 20vw;
			color: black;
			height: 6.2vh;
		}
		.card img{
			padding-top: 20px;
			height: 75px;
			margin-bottom: 2vw;
			object-fit: cover;
		}

		.card h4{
			color: white;
			margin-bottom: 1vw;

			position: relative;
			font-size: 19px;
			font-weight: 500;
		}

		.card h4::after{

			position: absolute;
			content: "";
			width: 100%;
			height: 2px;
			background-color:#1ED760;
			bottom: -4px;
			left: 0;
		}
		.submit{
			position: absolute;
			bottom: 7.3vw;
			background-color: #1ED760;
			color: white;
			padding-left:18px;
			border-radius: 50px;
			width: 20vw;
			border: none;
			font-size: 19px;
			left: 3vw;
			height: 6.5vh;

		}
		#nav-bar {
     width: 32vw;
     height: 22vh;
     background-color: black;
     padding: 14px 40px;
     position: absolute;
     left:10%;
     top: 30%;
     
     overflow: hidden;
     z-index: 8888;

 }
 #nav-bar img{
	height: 120px;
	object-fit: cover;
 }

 #nav-bar h2 {
     color: white;
     text-decoration-line: none;
     font-size: 16px;
 }

 #nav-bar a {
     text-decoration: none;
     word-spacing: 2px;
     overflow: hidden;
     position: absolute;

 }

 #nav-bar span:nth-child(1) {
     position: absolute;
     width: 100%;
     height: 2px;
     top: 0;
     left: 0;
     background: linear-gradient(to right,#2cd668, #1ED760);
     transition: all ease 0.3s;

     animation-name: anime1;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }


 @keyframes anime1 {
     0% {
         transform: translateX(-100%);
     }

     100% {
         transform: translateX(100%);
     }

 }

 #nav-bar span:nth-child(2) {
     position: absolute;
     width: 2px;
     height: 100%;
     top: 0;
     right: 0;
     /* background: linear-gradient(to bottom, gray, white); */
	 background: linear-gradient(to right,#2cd668, #1ED760);

     transition: all ease 0.3s;

     animation-name: anime2;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-delay: 1s;
 }


 @keyframes anime2 {
     0% {
         transform: translateY(-100%);
     }

     100% {
         transform: translateY(100%);
     }

 }

 #nav-bar span:nth-child(3) {
     position: absolute;
     width: 100%;
     height: 2px;
     bottom: 0;
     left: 0;
     /* background: linear-gradient(to right, gray, white); */
	 background: linear-gradient(to right,#2cd668, #1ED760);

     transition: all ease 0.3s;

     animation-name: anime3;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }


 @keyframes anime3 {
     0% {
         transform: translateX(100%);
     }

     100% {
         transform: translateX(-100%);
     }

 }

 #nav-bar span:nth-child(4) {
     position: absolute;
     width: 2px;
     height: 100%;
     top: 0;
     left: 0;
     /* background: linear-gradient(to right, gray, white); */
	 background: linear-gradient(to right,#2cd668, #1ED760);

     transition: all ease 0.3s;

     animation-name: anime4;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-delay: 1s;
 }


 @keyframes anime4 {
     0% {
         transform: translateY(100%);
     }

     100% {
         transform: translateY(-100%);
     }

 }

 @media (max-width:600px) {
	body{
		flex-direction: column;
	}
	.left{
		/* display: none; */
		width: 100%;
		height: 30%;
		/* background-color: aquamarine; */

	}
	#nav-bar {
		top: 3%;
		width: 80vw;
		height: 15vh;
	}

	#nav-bar img{
		height: 70px;
	}
	.card img{
		display: none;
	}

	.right{
		width: 100%;
	}

	.card{
		width: 83vw;
		left:45%;
		top: 60%;
	}
	.card input{
		width: 73vw;
		margin-top: 8vw;
	}
	.card h4{
		margin-bottom: 3vw;
		margin-top: 5vw;
	}
	
	.submit{
		width: 73vw;
		top: 70%;
	}

	.card a{
		width: 75vw;
		top: 84%;
		padding-left:100px;
	}
 }


	</style>
</head>

<body>

	<div class="left">

		<div class="box">
			<div id="nav-bar">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<a href="#">
	
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/1200px-Spotify_logo_with_text.svg.png" alt="">
					<!-- <h2>MUSIC FOR <br> EVERYONE</h2> -->
				</a>
			</div>
		</div>
	</div>

	<!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/021/460/248/small_2x/spotify-logo-transparent-free-png.png" alt=""> -->

	<div class="right">

		<div class="card">
	
			<img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" alt="">
	
			<h4>SIGN UP</h4>
			
			<form action="/register" method="post">
	
				<input id="username" type="text" name="username" placeholder="Username" required>
				<input id="email" type="email" name="email" placeholder="E-Mail" required>
				<input id="password" type="password" name="password" placeholder="Password" required>
				<button type="submit" class="submit">SIGN UP</button>
	
				<a href="/login">LOG IN</a>
	
			</form>
	
	
	
	
	
	
	
		</div>
	</div>

</body>

</html>